rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSchoolTeacher() {
      return request.auth != null
        && request.auth.token.email.matches('.*@35maktab[.]uz$');
    }

    match /usernames/{username} {
      allow get: if true;
      allow list: if false;
      allow create: if request.auth != null
        && request.resource.data.uid == request.auth.uid
        && request.resource.data.email == request.auth.token.email;
      allow update, delete: if false;
    }

    match /teachers/{teacherId}/{document=**} {
      allow read, write: if isSchoolTeacher() && request.auth.uid == teacherId;
    }

    match /teachers/{teacherId} {
      allow read, write: if isSchoolTeacher() && request.auth.uid == teacherId;
    }
  }
}
